.container {
  padding-top: 40px;
}

.mini-title {
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.right {
  float: right;
}

.chat {
  margin-top: 30px;
}

.chat .label {
  margin-right: 15px;
}

text {
  font-size: 10px;
}